# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
data/google-bucket/
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user
*.csv
*.xml
*.bib
*.docx
*.csl
*.png
*.html
*.nb.html
*.pdf
*.pages
*.Rdata
*.rds
*.txt
*.svg
presentations/libs/